In [2]:
import numpy as np
import pandas as pd

In [3]:
election_data_path = '../../datasets/Raw Datasets/Electoral Data/'
census_data_path = '../../datasets/Raw Datasets/Census Data/'
other_data_path = '../../datasets/Raw Datasets/Other Data/'

# Electorate changes

In [4]:
ced_2016 = pd.read_csv(other_data_path + 'CED_2016_AUST.csv')[['SA1_MAINCODE_2016', 'CED_NAME_2016']].set_index('SA1_MAINCODE_2016')
ced_2018 = pd.read_csv(other_data_path + 'CED_2018_AUST.csv')[['SA1_MAINCODE_2016', 'CED_NAME_2018']].set_index('SA1_MAINCODE_2016')

In [7]:
ced_to_from = ced_2016.join(ced_2018)
ced_to_from = ced_to_from[ced_to_from['CED_NAME_2016'] != ced_to_from['CED_NAME_2018']].sort_index()
ced_to_from = ced_to_from.reset_index()
ced_to_from['SA1_CODE'] = ced_to_from['SA1_MAINCODE_2016'].transform(lambda x: str(x)[0] + str(x)[-6:])
ced_to_from = ced_to_from.set_index('SA1_CODE')
ced_to_from.drop('SA1_MAINCODE_2016', axis=1, inplace=True)
display(len(set(ced_to_from['CED_NAME_2016']).union(set(ced_to_from['CED_NAME_2018']))))
ced_to_from

84

         CED_NAME_2016 CED_NAME_2018
SA1_CODE
2100701       Ballarat        Wannon
2100702       Ballarat        Wannon
2100703       Ballarat        Wannon
2100704       Ballarat        Wannon
2100705       Ballarat        Wannon
...                ...           ...
9100404       Canberra          Bean
9100405       Canberra          Bean
9100406       Canberra          Bean
9100407       Canberra          Bean
9100408       Canberra          Bean

[6384 rows x 2 columns]

In [5]:
removed_electorates = set(ced_2016['CED_NAME_2016']) - set(ced_2018['CED_NAME_2018'])
new_electorates = set(ced_2018['CED_NAME_2018']) - set(ced_2016['CED_NAME_2016'])

display(removed_electorates)
display(new_electorates)

{'Batman',
 'Denison',
 'McMillan',
 'Melbourne Ports',
 'Murray',
 'Port Adelaide',
 'Wakefield'}

{'Bean',
 'Clark',
 'Cooper',
 'Fraser',
 'Macnamara',
 'Monash',
 'Nicholls',
 'Spence'}

In [6]:
ced_to_from[ced_to_from['CED_NAME_2016'].isin(removed_electorates)].drop_duplicates().reset_index(drop=True).groupby('CED_NAME_2016').count()

                 CED_NAME_2018
CED_NAME_2016
Batman                       3
Denison                      1
McMillan                     3
Melbourne Ports              1
Murray                       3
Port Adelaide                4
Wakefield                    3

In [7]:
import os

ced_files = []
sa1_files = []
ced_count = 0
sa1_count = 0

for path in os.scandir(census_data_path):
    if path.is_file():
        print(path.name)
        
        if path.name[0:3] == 'CED':
            ced_files.append(path.path)
        elif path.name[0:3] == 'SA1':
            sa1_files.append(path.path)

assert(len(ced_files) == len(sa1_files))

CED to Age (Individual years).csv
CED to Ages (5 year brackets).csv
CED to Education level.csv
CED to Income.csv
CED to Job (Industry).csv
CED to Labour Force Status.csv
CED to Public-Private Sector.csv
CED to Registered Marital Status.csv
CED to Relationships in Households.csv
CED to Religion.csv
CED to Sex.csv
CED to Social Marital Status.csv
SA1 to Age (Individual years).csv
SA1 to Ages (5 year brackets).csv
SA1 to Education level.csv
SA1 to Income.csv
SA1 to Job (Industry).csv
SA1 to Labour Force Status.csv
SA1 to Public-Private Sector.csv
SA1 to Registered Marital Status.csv
SA1 to Relationships in Households.csv
SA1 to Religion.csv
SA1 to Sex.csv
SA1 to Social Marital Status.csv

# Cleaning tests

In [8]:
data_suffix = 'Social Marital Status'

In [9]:
sa1_data = pd.read_csv(census_data_path + 'SA1 to ' + data_suffix + '.csv', engine='python', skiprows=9, skipfooter=9).drop(0).iloc[:,:-2]
sa1_data.set_index(sa1_data.columns[0], inplace=True)
sa1_data

,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
MDCP Social Marital Status,,,,
1102801,0.0,0.0,0.0,0.0
1102802,246.0,57.0,143.0,163.0
1102803,237.0,24.0,129.0,230.0
1102804,89.0,5.0,87.0,56.0
1102805,108.0,31.0,85.0,106.0
...,...,...,...,...
9100406,0.0,0.0,0.0,0.0
9100407,147.0,38.0,80.0,107.0
9100408,0.0,0.0,0.0,0.0
9949999,0.0,0.0,0.0,54.0
9979993,0.0,0.0,0.0,4.0

In [10]:
ced_to_from_data = ced_to_from.join(sa1_data)
ced_to_from_data

,CED_NAME_2016,CED_NAME_2018,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
SA1_CODE,,,,,,
2100701,Ballarat,Wannon,203.0,36.0,94.0,151.0
2100702,Ballarat,Wannon,157.0,12.0,85.0,76.0
2100703,Ballarat,Wannon,189.0,33.0,91.0,148.0
2100704,Ballarat,Wannon,184.0,31.0,96.0,94.0
2100705,Ballarat,Wannon,166.0,41.0,99.0,130.0
...,...,...,...,...,...,...
9100404,Canberra,Bean,86.0,44.0,89.0,74.0
9100405,Canberra,Bean,0.0,0.0,0.0,0.0
9100406,Canberra,Bean,0.0,0.0,0.0,0.0
9100407,Canberra,Bean,147.0,38.0,80.0,107.0
9100408,Canberra,Bean,0.0,0.0,0.0,0.0

In [11]:
ced_to_from_data.isna().sum()

CED_NAME_2016                       0
CED_NAME_2018                       0
Married in a registered marriage    0
Married in a de facto marriage      0
Not married                         0
Not applicable                      0
dtype: int64

In [12]:
ced_to_from_group_data = ced_to_from_data.groupby(['CED_NAME_2016', 'CED_NAME_2018']).sum().reset_index()
ced_to_from_group_data

,CED_NAME_2016,CED_NAME_2018,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
0,Adelaide,Boothby,2187.0,486.0,2117.0,1443.0
1,Adelaide,Sturt,8291.0,1769.0,8071.0,5945.0
2,Ballarat,Wannon,2336.0,449.0,1252.0,1630.0
3,Bass,Lyons,3322.0,658.0,2491.0,2385.0
4,Batman,Cooper,45743.0,14398.0,54387.0,39602.0
...,...,...,...,...,...,...
90,Wannon,Mallee,5270.0,1208.0,5192.0,4045.0
91,Wide Bay,Hinkler,484.0,132.0,367.0,425.0
92,Wills,Cooper,1193.0,422.0,1266.0,1054.0
93,Wills,Maribyrnong,2808.0,460.0,1907.0,1858.0
94,Wills,Melbourne,913.0,501.0,1473.0,903.0

In [13]:
# e.g. Port Adelaide was dissolved
ced_to_from_data[ced_to_from_data['CED_NAME_2016'] == 'Port Adelaide'].groupby(['CED_NAME_2016', 'CED_NAME_2018']).sum().reset_index()

,CED_NAME_2016,CED_NAME_2018,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
0,Port Adelaide,Adelaide,6995.0,1304.0,7970.0,5711.0
1,Port Adelaide,Hindmarsh,25201.0,6932.0,29622.0,19510.0
2,Port Adelaide,Makin,6216.0,1039.0,5743.0,4561.0
3,Port Adelaide,Spence,13155.0,3509.0,15040.0,12487.0

In [14]:
ced_data = pd.read_csv(census_data_path + 'CED to ' + data_suffix + '.csv', engine='python', skiprows=9, skipfooter=9).drop(0).iloc[:,:-2]
ced_data

,MDCP Social Marital Status,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
1,Banks,60121.0,6983.0,52229.0,36469.0
2,Barton,61655.0,10607.0,59824.0,40771.0
3,Bennelong,66619.0,8087.0,54464.0,39783.0
4,Berowra,64395.0,5216.0,39070.0,36449.0
5,Blaxland,59962.0,5055.0,60475.0,49140.0
...,...,...,...,...,...
164,Fenner,69285.0,17268.0,58560.0,57838.0
165,No usual address (ACT),0.0,0.0,0.0,541.0
166,Migratory - Offshore - Shipping (ACT),0.0,0.0,0.0,0.0
167,No usual address (OT),0.0,0.0,0.0,54.0
168,Migratory - Offshore - Shipping (OT),0.0,0.0,0.0,4.0

In [15]:
ced_to_from_group_data[ced_to_from_group_data['CED_NAME_2016'] == 'Melbourne Ports']

,CED_NAME_2016,CED_NAME_2018,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
73,Melbourne Ports,Macnamara,41691.0,20409.0,57645.0,41046.0

In [16]:
ced_to_from_group_data[ced_to_from_group_data['CED_NAME_2016'] == 'Denison'].drop(['CED_NAME_2016', 'CED_NAME_2018'], axis=1).sum()

Married in a registered marriage    29887.0
Married in a de facto marriage       9454.0
Not married                         35181.0
Not applicable                      28007.0
dtype: float64

In [17]:
ced_data[ced_data.iloc[:,0] == 'Aston']

,MDCP Social Marital Status,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
50,Aston,54647.0,7735.0,41510.0,32129.0

In [18]:
# Totals that need to be subtracted from electorates
rem = ced_to_from_group_data.drop('CED_NAME_2018', axis=1).groupby('CED_NAME_2016').sum()
rem

,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
CED_NAME_2016,,,,
Adelaide,10478.0,2255.0,10188.0,7388.0
Ballarat,2336.0,449.0,1252.0,1630.0
Bass,3322.0,658.0,2491.0,2385.0
Batman,48413.0,14901.0,57297.0,41243.0
Bendigo,1809.0,296.0,972.0,1297.0
Boothby,13893.0,2301.0,8383.0,8120.0
Brisbane,1219.0,409.0,1292.0,1275.0
Bruce,36454.0,2768.0,27162.0,19673.0
Calwell,18016.0,1923.0,13741.0,10265.0
Canberra,49815.0,10563.0,38561.0,36875.0
Casey,6971.0,1451.0,5556.0,4923.0
Chisholm,17219.0,2536.0,19214.0,13835.0
Corangamite,19251.0,3775.0,15799.0,14781.0
Corio,13667.0,2532.0,9578.0,9623.0
Dawson,887.0,282.0,537.0,794.0
Deakin,11153.0,1367.0,8710.0,7311.0
Denison,29887.0,9454.0,35181.0,28007.0
Dunkley,8928.0,1839.0,7603.0,6638.0
Fadden,2038.0,494.0,2255.0,1581.0
Fairfax,2291.0,442.0,1526.0,1690.0
Fenner,20408.0,6157.0,21883.0,17963.0
Flinders,14750.0,3553.0,11003.0,11898.0
Franklin,2128.0,565.0,1261.0,1439.0
Gellibrand,17294.0,3865.0,21850.0,14191.0
Gippsland,0.0,0.0,0.0,0.0
Gorton,9596.0,1087.0,9035.0,6689.0
Griffith,2290.0,797.0,2919.0,1892.0
Higgins,1300.0,1098.0,2729.0,1390.0
Hindmarsh,22384.0,5707.0,26869.0,16842.0
Holt,24424.0,3027.0,20786.0,16285.0
Hotham,28174.0,4474.0,24650.0,18639.0
Indi,463.0,103.0,340.0,350.0
Isaacs,17735.0,3533.0,16509.0,13814.0
Jagajaga,11457.0,1731.0,7027.0,7370.0
Kingston,4496.0,1570.0,4389.0,4926.0
La Trobe,21279.0,4638.0,16285.0,15488.0
Lalor,22000.0,3587.0,14075.0,17391.0
Leichhardt,2258.0,830.0,2046.0,2893.0
Lilley,2466.0,184.0,1292.0,1271.0
Longman,0.0,0.0,0.0,0.0
Lyons,6183.0,1273.0,3889.0,4252.0
Makin,4.0,0.0,0.0,0.0
Mallee,2633.0,539.0,2319.0,2062.0
Maribyrnong,19454.0,2598.0,24114.0,15224.0
Mayo,2164.0,399.0,1438.0,1342.0
McEwen,28564.0,4810.0,19877.0,23834.0
McMillan,57526.0,13350.0,46339.0,50153.0
Melbourne,6661.0,2374.0,9188.0,6718.0
Melbourne Ports,41691.0,20409.0,57645.0,41046.0
Menzies,6852.0,850.0,4439.0,4239.0
Moreton,1352.0,332.0,1015.0,1276.0
Murray,50325.0,10095.0,40829.0,44030.0
Port Adelaide,51567.0,12784.0,58375.0,42269.0
Ryan,2582.0,443.0,1329.0,1746.0
Scullin,15107.0,2199.0,10079.0,9281.0
Solomon,1484.0,745.0,1056.0,2557.0
Wakefield,52190.0,13946.0,52126.0,49845.0
Wannon,5270.0,1208.0,5192.0,4045.0
Wide Bay,484.0,132.0,367.0,425.0
Wills,4914.0,1383.0,4646.0,3815.0

In [19]:
# Totals that need to be added to electorates
ad = ced_to_from_group_data.drop('CED_NAME_2016', axis=1).groupby('CED_NAME_2018').sum()
ad

,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
CED_NAME_2018,,,,
Adelaide,14815.0,3295.0,17951.0,11689.0
Aston,6072.0,1629.0,5556.0,4851.0
Barker,6382.0,1317.0,3889.0,4496.0
Bass,3854.0,786.0,2489.0,2622.0
Bean,49815.0,10563.0,38561.0,36875.0
Blair,2582.0,443.0,1329.0,1746.0
Boothby,16751.0,4202.0,19005.0,12307.0
Braddon,2329.0,487.0,1400.0,1630.0
Bruce,39979.0,4636.0,36376.0,26479.0
Calwell,15560.0,2300.0,10185.0,12908.0
Canberra,20408.0,6157.0,21883.0,17963.0
Capricornia,488.0,172.0,368.0,507.0
Casey,9410.0,2395.0,7038.0,6661.0
Chisholm,23978.0,2115.0,18334.0,14077.0
Clark,29887.0,9454.0,35181.0,28007.0
Cooper,46936.0,14820.0,55653.0,40656.0
Corangamite,13667.0,2532.0,9578.0,9623.0
Corio,12621.0,2269.0,9864.0,9007.0
Deakin,13823.0,2301.0,9995.0,9162.0
Dickson,2466.0,184.0,1292.0,1271.0
Dunkley,10076.0,2754.0,9140.0,8633.0
Fisher,2291.0,442.0,1526.0,1690.0
Flinders,8928.0,1839.0,7603.0,6638.0
Fraser,58639.0,7487.0,60626.0,41198.0
Gellibrand,22000.0,3587.0,14075.0,17391.0
Gippsland,463.0,162.0,479.0,433.0
Grey,9357.0,2158.0,6651.0,7397.0
Higgins,4062.0,771.0,3464.0,2631.0
Hindmarsh,25201.0,6932.0,29622.0,19510.0
Hinkler,484.0,132.0,367.0,425.0
Holt,11898.0,2013.0,7830.0,8605.0
Hotham,37055.0,4127.0,33786.0,24451.0
Indi,1941.0,409.0,1630.0,1479.0
Isaacs,16216.0,2873.0,12965.0,10983.0
Jagajaga,13158.0,1789.0,8690.0,7985.0
Kennedy,2657.0,940.0,2215.0,3180.0
Kingston,11070.0,1825.0,6984.0,6312.0
Kooyong,3793.0,429.0,2966.0,2291.0
La Trobe,16298.0,4381.0,13384.0,15823.0
Lingiari,1484.0,745.0,1056.0,2557.0
Lyons,5450.0,1223.0,3752.0,3824.0
Macnamara,42991.0,21507.0,60374.0,42436.0
Makin,6216.0,1039.0,5743.0,4561.0
Mallee,7779.0,1656.0,7171.0,6170.0
Maribyrnong,15190.0,4820.0,19209.0,13747.0
Mayo,8214.0,2185.0,6357.0,7208.0
McEwen,3480.0,667.0,2154.0,2427.0
Melbourne,1277.0,699.0,2005.0,1330.0
Menzies,11457.0,1731.0,7027.0,7370.0
Monash,49414.0,10961.0,39340.0,41178.0
Moncrieff,2038.0,494.0,2255.0,1581.0
Moreton,2290.0,797.0,2919.0,1892.0
Nicholls,51530.0,10688.0,42414.0,45689.0
Oxley,1352.0,332.0,1015.0,1276.0
Petrie,0.0,0.0,0.0,0.0
Ryan,1219.0,409.0,1292.0,1275.0
Scullin,10396.0,1507.0,7423.0,7393.0
Spence,50335.0,14180.0,57118.0,50950.0
Sturt,8835.0,1829.0,8448.0,6302.0
Wannon,11599.0,2494.0,9506.0,9466.0

In [20]:
ced_data_clean = ced_data.set_index(ced_data.columns[0])\
    .sub(rem, fill_value=0)\
    .add(ad, fill_value=0)\
    .drop(removed_electorates)\
    .astype(int)
ced_data_clean

,Married in a registered marriage,Married in a de facto marriage,Not married,Not applicable
Adelaide,54682,13346,65853,46993
Aston,60719,9364,47066,36980
Ballarat,48120,12179,44914,43598
Banks,60121,6983,52229,36469
Barker,59520,12946,45347,47779
...,...,...,...,...
Werriwa,61308,6746,53633,49213
Whitlam,55755,10291,44845,41384
Wide Bay,50070,11441,40546,40633
Wills,47097,14495,55920,37378
Wright,56713,12757,39646,47318

In [21]:
ced_data_clean.loc['Bass']

Married in a registered marriage    33016
Married in a de facto marriage       8376
Not married                         31313
Not applicable                      29581
Name: Bass, dtype: int32

In [22]:
ced_data.set_index(ced_data.columns[0]).sort_index().loc['Bass']

Married in a registered marriage    32484.0
Married in a de facto marriage       8248.0
Not married                         31315.0
Not applicable                      29344.0
Name: Bass, dtype: float64

In [ ]:
ced_data_clean.index.rename(ced_data.columns[0], inplace=True)
ced_data_clean.to_csv(census_data_path + 'clean/' + 'CED to ' + data_suffix + '.csv')